.banner_body {
  background-color: var(--primary-color);
}

.color-secondary {
  color: var(--yellow);
}

.break_banner {
  padding-top: 150px;
}
.small_break {
  padding-top: 15px;
}
.extra_small_break {
  padding-top: 4px;
}

.banner_image_allignment {
  padding-left: 340px;
  width: 1025px;
  @media (max-width: 600px) {
    padding-left: 50px;
    text-align: center;
    width: 340px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding-left: 40px;
    text-align: center;
    width: 700px;
  }
  @media (min-width: 1024px) and (min-width: 912px) and (max-width: 1366px) and (max-width: 1368px) {
    padding-left: 40px;
    text-align: center;
    width: 1000px;
  }
}

.banner_text {
  font-size: 55px;
  line-height: 1.3;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  @media (max-width: 600px) {
    font-size: 23px;

    color: white;
  }
}
.banner_para {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }
  @media (min-width: 1024px) and (min-width: 912px) and (max-width: 1366px) and (max-width: 1368px) {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
  }
}
.card_social_media {
  width: 100%;
  border: none;
  border-radius: 10px;
  @media (max-width: 991px) {
    width: 290px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 650px;
  }
  @media (min-width: 1024px) and (min-width: 912px) and (max-width: 1366px) and (max-width: 1368px) {
    width: 910px;
  }
}
.selection-fontsize {
  font-size: 14px;
  border-color: rgb(232, 233, 234);
  border-radius: 2px;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}
.username_label {
  border: 0;
}
.star_banner {
  @media (max-width: 600px) {
    padding-left: 65px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-left: 260px;
  }
  @media (min-width: 1024px) and (min-width: 912px) and (max-width: 1366px) and (max-width: 1368px) {
    padding-left: 400px;
  }
}
.mobile_banner_image {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  @media (min-width: 1024px) and (min-width: 912px) and (max-width: 1366px) and (max-width: 1368px) {
    display: none;
  }
}

.stars-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  @media (max-width: 768px) {
    .stars-rating {
      justify-content: center;
     width: 70%;
    }
  }
}
.stars-rating .rating-value {
  font-family: Poppins,sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 5px;
  color: rgba(48,75,101,.5);
  margin-right: 10px;
}
.rating-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}