body {
  background-color: #f0f7f9;
}
.contact {
  border-radius: 30px;
  background-color: #ffffff;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.small_break {
  padding-top: 50px;
}
.header_style {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}
.large_break {
  padding-top: 100px;
}
.pf {
  color: #959799;
}
.contact_sub_paragraph {
  color: #959799;
}

.form_input_styles {
  border-color: rgb(228, 228, 228);
  border-radius: 7px;
  height: 50px;
}
.form_input_styles::placeholder{
  color: #cdc4c4;
}

.cardform-left {
  margin-top: 1.5cm;
  margin-left: 10cm;
}
.cardform-right {
  margin-top: 1.5cm;
  margin-right: 10cm;
}
.link-form {
  color: #00bfff;
}
.form-right-text {
  text-align: left;
  font-weight: bold;
}
.contact-text-header {
  margin-top: 1cm;
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
}
.header-contact {
  margin-left: 10cm;
  margin-right: 22cm;
}
