.main_text {
  margin-top: 3rem;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
p {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}
.try_btn {
 height: 50px;
}
.freetrail_button {
  padding-left: 10px;
  @media only screen and (max-width: 768px) {
    padding-left: 0px;
  }
}
