.login_button {
  box-shadow: 0 8px 20px -10px #18bbe8;
  background: linear-gradient(106.11deg, #20a7ee -5.94%, #0ed5e1 112.84%);
  height: 50px;
  padding: 16px 25px;
  color: var(--white);
}
.color-primary {
  color: var(--primary);
}
.forget-password {
  text-align: center;
}
